// Social Media Pop Out
// Zayne
// July 7th, 2021
// v1.0.0

/*
<div class="social-animation">
    <ul>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-facebook"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-twitter"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-instagram"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-linkedin"></span>
            </a>
        </li>
    </ul>
</div>
*/

$facebook: #3f62a9;
$twitter: #1c99e7;
$instagram: #e64160;
$linkedin: #0961b8;

$square-bg: $white;
$square-sides: #d1d1d1;
$icon-color: #d1d1d1;

.social-animation {
	position: relative;

	.social-animation_caption{
		position: absolute;
		display: flex;
    bottom: -3.5rem;
    left: 40%;
		font-size: .8rem;
		transform-style: preserve-3d;
		transform: rotate(-25deg) skew(25deg);
	}

	ul {
		position: relative;
		display: flex;
		transform-style: preserve-3d;
		transform: rotate(-25deg) skew(25deg);

		li {
			position: relative;
			list-style: none;
			width: 60px;
			height: 60px;
			margin: 0 10px;
			transition: 0.5s;

			&:before {
				content: "";
				position: absolute;
				bottom: -10px;
				left: 0;
				width: 100%;
				height: 10px;
				background: $square-sides;
				transform-origin: top;
				transform: skewX(-41deg);
				transition: 0.5s;
			}

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: -9px;
				width: 9px;
				height: 100%;
				background: darken($square-sides,10%);
				transform-origin: right;
				transform: skewY(-49deg);
				transition: 0.5s;
			}

			&:nth-child(1) {
				&:hover {
					span {
						background: $facebook;
					}

					&:before {
						background: darken($facebook, 25%);
					}

					&:after {
						background: darken($facebook, 25%);
					}
				}
			}
			&:nth-child(2) {
				&:hover {
					span {
						background: $twitter;
					}

					&:before {
						background: darken($twitter, 25%);
					}

					&:after {
						background: darken($twitter, 25%);
					}
				}
			}
			&:nth-child(3) {
				&:hover {
					span {
						background: $instagram;
					}

					&:before {
						background: darken($instagram, 25%);
					}

					&:after {
						background: darken($instagram, 25%);
					}
				}
			}
			&:nth-child(4) {
				&:hover {
					span {
						background: $linkedin;
					}

					&:before {
						background: darken($linkedin, 25%);
					}

					&:after {
						background: darken($linkedin, 25%);
					}
				}
			}

			&:hover {
				span {
					z-index: 1000;
					transition: 0.5s;
					color: $white;
					box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);

					&:nth-child(5) {
						transform: translate(40px, -40px);
						opacity: 1;
					}
					&:nth-child(4) {
						transform: translate(30px, -30px);
						opacity: 0.8;
					}
					&:nth-child(3) {
						transform: translate(20px, -20px);
						opacity: 0.6;
					}
					&:nth-child(2) {
						transform: translate(10px, -10px);
						opacity: 0.4;
					}
					&:nth-child(1) {
						transform: translate(0px, 0px);
						opacity: 0.2;
					}
				}
			}

			span {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background: $square-bg;
				color: $icon-color;
				opacity: 0.5;
				font-size: 30px;
				transition: 0.5s;
			}
		}
	}
}
