.author-plank{
  min-height: 400px;
  background-image: url('../img/simple-swoosh-bg.jpg');
  background-position: 0 -9px;
  background-repeat: no-repeat;
  background-size: auto;

  .author-img{
    width: 330px;
    margin: 0 auto;
    display: block;
  }
  .author-meta{
    padding: 2rem .8rem;
  }

  @media (min-width:570px){
    background-position: -252px 28px;
  }

  @media (min-width: 769px){
    background-position: center 10px;
    background-size: cover;
    .author-img{margin: 0;}
    .author-meta{padding: 3rem 0 0 0;}
  }

  @media (min-width: 1200px){
    .author-meta{padding: 4rem 0 0 0;}
    .author-img{margin: 0 auto;}
  }

  @media (min-width: 1500px){
    background-size: auto;
  }

}
