
header{
  position: fixed;
  top:0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: #555656;

  &:hover{
    .nav-arrow{display: none;}
  }

  .rcd-logo{
    position: absolute;
    top:0; left: 0;
    z-index: 999;
  }

  .nav-arrow {
    //animation: NavArrowBob 4s ease infinite;
    position: absolute;
    top: 65px;
    width: 60px;
    text-align: center;
    font-size: 10px;
    opacity: .7;
    display: none;
  }

  ul{
    margin: 0; padding: 0;
    list-style: none;
    position: absolute;
    top:0;
    left: 60px;

    li{
      display: inline-block;
      position: relative;
      transition: margin .2s ease-in;
      width: 50px;
      padding: 0;
      .nav-icon{
        width: inherit;
        display: block;
        margin:0;
        //padding: .5rem .25rem;
        //font-size: 1.25rem;
        padding: .75rem 0.5rem;
        font-size: 1.5rem;
        text-align: center;
        color: $gray-100;
        cursor: pointer;
        transition: all .1s ease-in;
      }
      &:nth-child(1){
        transition-delay: .1s;
      }
      &:nth-child(2){
        transition-delay: .2s;
      }
      &:nth-child(3){
        transition-delay: .3s;
        ul{
          left: inherit;
          right: 0;
          li:first-of-type{
            &:before{
              left: inherit;
              right: 14px;
            }
          }
        }
      }
      &:nth-child(4){
        transition-delay: .4s;
        ul{
          left: inherit;
          right: 0;
          li:first-of-type{
            &:before{
              left: inherit;
              right: 14px;
            }
          }
        }
      }
      &:nth-child(5){
        transition-delay: .4s;
      }

      ul{
        visibility: hidden;
        margin: 0;
        padding: 0;
        position: absolute;
        top:117%;
        left: 0;
        width: 200px;

        li{
          position: relative;
          margin-top:0 !important;
          margin:0;
          padding: 0;
          display: block;
          background-color: $gray-700;
          width: 100%;
          strong{
            display: block;
            padding: .5rem .75rem;
            color: $yellow;
            border-bottom: 1px solid lighten($gray-700,5%);
          }
          a{
            text-decoration: none;
            color: $gray-200;
            display: block;
            padding: .5rem .75rem;
            &:hover{
              background-color: $gray-800;
              color:$yellow;
            }
          }
          &:first-of-type{
            &:before{
                content:'';
                display:block;
                width:0;
                height:0;
                position:absolute;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right:10px solid $gray-700;
                transform: rotate(90deg);
                left: 14px;
                top: -13px;
            }
          }
        }
      }

      &:hover{
        > ul{
          visibility: visible;
        }
        .nav-icon{
          background-color: $gray-700;
          color: $yellow;
        }
      }

    }
  }

  @media (min-width: 400px){

    ul{
      li{
        width: 60px;
        .nav-icon{
          padding: 0.75rem 0.5rem;
          font-size: 1.5rem;
        }
      }
    }
  }

  @include media-breakpoint-up(md){
    height: 80px;
    width: 60px;
    top:1rem;
    left: inherit;
    right: 1rem;
    background-color: transparent;

    &:hover{
      ul{
        li{
          &:nth-child(1){
            margin-top:65px;
          }
          &:nth-child(2){
            margin-top:130px;
          }
          &:nth-child(3){
            margin-top:195px;
          }
          &:nth-child(4){
            margin-top:255px;
          }
          &:nth-child(5){
            margin-top:315px;
          }
        }
      }
    }

    .nav-arrow {
      display: block;
    }

    ul{
      position: relative;
      left:0;
      width: 230px;

      li{
        position: absolute;
        .nav-icon{
          background-color: rgba($gray-200,.7);
          color: $gray-800;
        }

        ul{
          top:1px;
          right: 100% !important;
          left: inherit;
          padding-right: 1rem;
          width: 300px;

          li{
            &:first-of-type{
              &:before{
                  transform:none;
                  border-top: 10px solid transparent;
                  border-bottom: 10px solid transparent;
                  border-right:10px solid $gray-700;
                  transform: rotate(180deg);
                  right:-9px !important;
                  left: inherit;
                  top:10px;
              }
            }
          }
        }
      }
    }

  }

}
