header{
  background-color: $gray-700;
  position: fixed;
  top:0;
  right:2px;
  width: 270px;
  height: 100vh;
  z-index: 999;
  transition: margin .3s ease-in;
  margin-right: -266px;
  &:hover{
    margin-right: -1px;
  }

  .rcd-logo{
    position: absolute;
    top:0;
    left: -60px;
    width: 60px;
    height: 60px;
    cursor: pointer;

    img{
      position: absolute; z-index: 0;
    }

    .icon-bar-container{
      padding-left: 14px;
      position: absolute;
      z-index: 9;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      width: 60px;
      height: 30px;
        .icon-bar {
          pointer-events: none;
          display: block;
          margin: 2px 0;
          width: 22px;
          height: 1px;
          border-radius: 1px;
          background-color: $gray-500;
          vertical-align: text-top;
          line-height: 2px;
          opacity: 1;
          transition: all .3s ease-in;
        }
    }
  }

  .rcd-name{
    @include heading-font;
    font-size: 1.5rem;
    display: block;
    padding: 10px 0 14px 14px;
    color: $gray-500;
  }

  nav{
    ul{
      margin: 0; padding: 0;
      li{
        display: block;
        a{
          display: flex;
          background: #525454;
          border-bottom: 1px solid #464848;

          &.odd{
            justify-content: flex-start;
            .nav-icon{
              padding: .75rem 2rem .75rem 1rem;
              clip-path: polygon(0px 0px, 80% 0px, 100% 100%, 0px 100%, 0px 0px);
            }
          }
          &.even{
            justify-content: flex-end;
            .nav-icon{
              padding: .75rem 1rem .75rem 2rem;
              clip-path: polygon(20% 0px, 100% 0px, 100% 100%, 0px 100%);
            }
          }

          color: $white;
          text-decoration: none;
          .nav-icon{
            background-color: lighten($gray-900,15%);
            font-size: 1.75rem;
            vertical-align: middle;
          }
          &:hover{
            color: $yellow;
          }
        }
      }
    }
  }
}
