@keyframes MorphyKidney {
  0%,100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translate(30px, 15px);
            transform: translate(30px, 15px);
  }
  20% {
    -webkit-transform: translate(60px, 25px);
            transform: translate(60px, 25px);
  }
  30% {
    -webkit-transform: translate(55px, 37px);
            transform: translate(55px, 37px);
  }
  40% {
    -webkit-transform: translate(40px, 45px);
            transform: translate(40px, 45px);
  }
  50% {
    -webkit-transform: translate(20px, 52px);
            transform: translate(20px, 52px);
  }
  60% {
    -webkit-transform: translate(0px, 40px);
            transform: translate(0px, 40px);
  }
  70% {
    -webkit-transform: translate(-15px, 30px);
            transform: translate(-15px, 30px);
  }
  80% {
    -webkit-transform: translate(-30px, 20px);
            transform: translate(-30px, 20px);
  }
  90% {
    -webkit-transform: translate(-20px, 10px);
            transform: translate(-20px, 10px);
  }
  95% {
    -webkit-transform: translate(-10px, 5px);
            transform: translate(-10px, 5px);
  }
}

@keyframes MorphyKidney2 {
  0%,100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translate(-50px, 55px);
            transform: translate(-50px, 55px);
  }
}

.lp-general{

  .morphy{animation: MorphyKidney 13s linear infinite;}
  .morphy2{animation: MorphyKidney2 9s ease infinite;}

  .lp-title{
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  h2{
    position: relative;
    &:before{
      display: block; position: absolute; z-index: 99; top:10px; left: -80px; font-size: 3rem; line-height: 4rem;
      text-align: center; border-radius: 50%; width: 70px; height:70px; color: $white;
    }
  }

  .p2-inner,.p4-inner,.p6-inner,.p9-inner,.p11-inner,.p12-inner,.p13-inner,.p14-inner
  {
    padding: 20px 10px 40px 80px;
  }

  .light-pink{color: $light-pink;}
  .kidney{fill-rule:evenodd;clip-rule:evenodd;fill: #9bdfb8;}
  .yellow-circle{fill-rule:evenodd;clip-rule:evenodd; fill:$yellow;}
  .blue-circle{fill-rule:evenodd;clip-rule:evenodd;fill:$blue;}

  .awards-inner{padding:0 2rem;}

  .ada-logo{max-width: 300px;}
  .awards{max-width: 300px;}

  .p1{background: url('../img/p1-bg-fade.png') bottom center no-repeat; padding-bottom: 100px;}
  .p1-copy{position: relative;z-index: 99;margin-top: 100px; padding: 0 2rem 0 2rem;}
  .p1-copy p{font-size: 1.2rem;line-height: 1.5rem;}
  .p1-feature{text-align: center; position: relative;}
  .p1-svg{position:relative;z-index:5;max-width:230px;margin-top:-10px;margin-left:-40px;}
  .p2-svg{position:absolute;z-index:1;top:-22px;right:-10px;width: 340px;}

  .p2-inner .h1{display: none;}
  .p2-inner h2{padding:15px 0;}
  .p2-inner h2:before{content: "1"; background-color: $pink;}
  .p2-sub-p{font-size: 1.3rem;color: $pink;}
  .p2-ani{text-align: center; position: relative;}
  .p2-vid-mask{position:absolute;z-index:10;top:59px;left:0;}
  .p2-ani video{max-width: 96%;}

  .p3{
    display: none;
    text-align:center;
    line-height: 0;
    background: #f1f1f1 url('../img/p3-bg-gray.jpg') center repeat-x;
    position: relative; z-index: 11;
  }

  .p4 h2{padding:15px 0 10px 0;position: relative;}
  .p4 h2:before{content: "2"; background-color: $mint;}
  .p4-sub-p{font-size: 1.3rem;color: $mint;}
  .p4-ani{padding-top: 40px;text-align: center; position: relative;}
  .p4-vid-mask{position:absolute;z-index:10;top:39px;left:0;}
  .p4-ani video{max-width: 96%;}

  .p5{display: none; padding: 5rem 0; line-height: 0; text-align: center; background: url('../img/p5-bg.jpg') center no-repeat;}
  .p5-img{margin:0 auto;display:block;}

  .p6-ani{position: relative;min-height: 350px;}
  .p6-inner{margin-top:-90px;}
  .p6-inner h2{padding:15px 0;position: relative;}
  .p6-inner h2:before{content: "3"; background-color: $pink;}
  .p6-sub-p{font-size: 1.3rem;color: $pink;}

  .p7{padding: 3rem 0 5rem 0;}
  .p7-feature{text-align: center; position: relative; min-height: 280px;}

  .p7-sub-p{font-size: 1.3rem;color: $blue;padding-bottom: 2rem;}
  .p7-svg1,.p7-svg2,.p7-svg3{display: none;}

  .p8{background-image: url('../img/p8-bg.jpg'); background-position: 25% 0; background-repeat: no-repeat; background-size: 180%;}
  .p8-content{padding: 60% 2rem 20px 2rem;}
  .p8-sub-heading{color: #6991f6;}

  .p9{clear:both;padding:0 0 2rem 0;background: #FFF url('../img/p9-bg.jpg') bottom left no-repeat; background-size: contain;}
  .p9 h2{padding:15px 0 10px 0;position: relative;}
  .p9 h2:before{content: "4"; background-color: $blue;}
  .p9-sub-p{font-size: 1.3rem;color: $blue;}

  .p11-inner h2{padding:15px 0;position: relative;}
  .p11-inner h2:before{content: "4"; background-color: $blue;}
  .p11-sub-p{font-size: 1.3rem;color: $blue;}

  .p12-inner h2{padding:15px 0;position: relative;}
  .p12-inner h2:before{content: "5"; background-color: $yellow;}
  .p12-sub-p{font-size: 1.3rem;color: $yellow;}

  .p13-inner h2{padding:15px 0;position: relative;}
  .p13-inner h2:before{content: "6"; background-color: $orange;}
  .p13-sub-p{font-size: 1.3rem;color: $orange;}

  .p14-inner h2{padding:15px 0;position: relative;}
  .p14-inner h2:before{content: "7"; background-color: $purple;}
  .p14-sub-p{font-size: 1.3rem;color: $purple;}

  .f-left-50{float:none;}
  .f-right-50{float:none;}

  #computerOneVideo{
    width: 80.5%;
    position: absolute;
    top: 120px;
    left:32px;
    z-index: 9;
    background: #FFF;
    padding-bottom: 18px;
  }
  #computerTwoVideo{
    width: 80.5%;
    position: absolute;
    top: 42px;
    left:35px;
    z-index: 9;
    background: #FFF;
    padding-bottom: 18px;
  }

  .imac{position: absolute; z-index: 10; left: 0; top:80px;}
  .imac2{position: absolute; z-index: 10; left: 0; top:0px;}

  .video-holder{
    position: relative;
    video{
      position: absolute; top:0; left:0; width: 100%; height:100%; z-index: 1;
      &.active{z-index: 9;}
    }
  }

  @media (min-width: 380px){
    #computerOneVideo{left:39px;}
  }

  @media (min-width: 400px){
    .p1-svg{max-width:400px;margin-top:-40px;margin-left:-70px;}
    .p6-ani{min-height: 400px;}
    .p6-inner{margin-top:-70px;}
  }

  @media (min-width: 430px){
    #computerOneVideo{top:130px;}
    #computerTwoVideo{left:40px;top:50px;}
  }

  @media (min-width: 460px){
    #computerOneVideo{left:48px;}
  }

  @media (min-width: 480px){
    .p2-sub-p,.p4-sub-p,.p6-sub-p,.p7-sub-p{font-size: 1.7rem;line-height: 2rem;}
    .awards{margin-left: -110px;max-width: 400px;}
    .p6-inner{margin-top:-30px;}
  }

  @media (min-width: 500px){
    .p6-inner{margin-top:0px;}
    #computerTwoVideo{left:48px;top:62px;}
  }

  @media (min-width: 560px){
    #computerOneVideo{width: 81%;}
  }

  @media (min-width: 600px){
    #computerOneVideo{left:51px;top:149px;}
    #computerTwoVideo{left:48px;top:71px;}

    .p1-svg{max-width:460px;margin-top:-50px;}
    .p3,.p4-ani,.p5{display: block;}
    .p6-ani{min-height: 470px;}
    h2{
      &:before{
        display: block; position: absolute; z-index: 99; top:8px; left: -100px; font-size: 4rem; line-height: 4.5rem;
        text-align: center; border-radius: 50%; width: 80px; height:80px; color: #FFF;
      }
    }
    .p2-inner .h1{font-size: 3rem;line-height: 2.5rem;display: inline-block;}
  }

  @media (min-width: 630px){
    #computerOneVideo{left:46px;top:131px;}
  }

  @media (min-width: 677px){
    #computerOneVideo{left:49px;top:142px;}
    #computerTwoVideo{left:55px;top:70px;}
    .p6-ani{min-height: 550px;}
  }

  @media (min-width: 740px){
    #computerOneVideo{left:54px;top:147px;}
  }

  @media (max-width: 768px){
    .mobile-addy-text{text-align: left; padding: 1rem 1rem 1rem 2rem;}
  }

  @media (min-width: 769px){
    .p1-copy{margin-top: 0;}
    #computerOneVideo{left:56px;top:165px;}
    #computerTwoVideo{left:63px;top:80px;}

    .lp-title{font-size: 3rem;line-height: 3rem;}
    .p8{background-size: cover;height: 700px;background-position: 55% 0;}
    .p8-content{padding-left: 48%; padding-top: 60px; padding-right: 2rem;}
    .p1-svg{max-width:600px;margin-top:-60px;}
    .p6-ani{min-height: 650px;}
    .p3{margin: 1rem 0 3rem 0;}
  }

  @media (min-width: 800px){
    #computerOneVideo{left:65px;top:160px;}
    #computerTwoVideo{top:95px;}
  }

  @media (min-width: 860px){
    #computerOneVideo{left:65px;top:152px;}
    #computerTwoVideo{width: 574px;top:90px;}
  }

  @media (min-width: 920px){
    #computerOneVideo{width: 574px;}
  }

  @media (min-width: 980px){
    #computerOneVideo{left:36px;top:130px;width: 82%;}
    #computerTwoVideo{left:43px;top:60px;width: 81%;}

    .p1-svg{max-width:400px;margin-top:-30px;}
    .p7 .f-left-50{float:left;width:42%;}
    .p7 .f-right-50{float:right;width:57%;}
    .p2-inner{min-height: 550px;}
    .p2-ani{text-align: left;margin-left: -48px;padding-right: 20px;padding-top: 60px;display: block;}
    .p4-ani{display: block;}
    .p5-img{margin:-50px auto 0 auto; clear:both;}
    .p6-inner{margin-top:0;}
    .ada-logo{max-width: none;}
    .awards-inner{padding:4rem 0 0 0;}
    .awards{position: absolute; z-index: 10; top:20px; left: 0; margin-left: 0; max-width: 500px;}
    .summary{position: absolute; z-index: 10; top:0px; left: 0;}
    .p7-svg1,.p7-svg2{display: block;}
    .p7-svg1{position:absolute;z-index:9;top:-40px;left:60px;max-width:580px;}
    .p7-svg2{position:absolute;z-index:5;top:-70px;left:140px;max-width:450px;}
    .p8{margin-top:6%;}
    .p8-content{padding-left: 50%; padding-right: 4rem;}
    .p9{padding:6rem 0 2rem 0;}
    .input-group .label,.input-group input[type="text"],.input-group input[type="email"],.input-group input[type="tel"]{font-size: 1rem;}
    .facebook-video,.insta-video,.and-or{display: inline-block;}
    .p5-img{display:none;}
    .and-or{ padding: 15% 1rem;}
    .p6-ani{min-height: 300px;}
  }

  @include media-breakpoint-up(lg){
    .lp-pagetitle{padding-top:70px;}
    .p1-copy{padding: 0;}
    .f-left-50{float:left;width:50%;}
    .f-right-50{float:right;width:50%;}
  }

  @media (min-width: 1120px){
    #computerOneVideo{left:43px;}
    #computerTwoVideo{left:49px;top:65px;}

    .p1-svg{max-width:450px;margin-top:-40px;}
    .p4-inner{padding: 90px 20px 40px 80px;}
    .p5{padding: 2rem 0 8rem 0;}
    .p6-inner{padding: 70px 10px 40px 90px;}
    .p9-inner{padding: 70px 30px 40px 80px;}
    .p11-inner{padding: 70px 30px 40px 90px;}
    .p12-inner{padding: 70px 30px 40px 90px;}
    .p13-inner{padding: 70px 30px 40px 90px;}
    .p14-inner{padding: 70px 30px 40px 90px;}
  }

  @media (min-width: 1200px){
    .p2-ani{padding-top: 40px;padding-bottom: 40px;}
    .p2-vid-mask{top:39px;}
    .p2-ani video{max-width: 94%;}
    .p8{margin-top:13%;}
    .p9{padding: 12rem 0 9rem 0;}
    .awards{max-width: 600px;}
  }

  @media (min-width: 1260px){
    #computerOneVideo{left:45px;top:145px;}
    #computerTwoVideo{left:50px;top:70px;}
    .p1-svg{max-width:500px;margin-top:-50px;}
  }

  @media (min-width: 1340px){
    #computerOneVideo{left:49px;top: 152px;}
  }

  @media (min-width: 1400px){
    #computerOneVideo{width: 82%;left:50px;}
    #computerTwoVideo{top:82px;}

    .p2-ani{padding-right: 0; margin-left: 0;}
    .p2-ani video{max-width: 92%;}
    .p4-ani video{max-width: 90%;margin-left:-20px;}
    .p4-vid-mask{left:10px;}
    .p5{padding: 1rem 0 12rem 0;}
    .p5-img{margin:0 auto 0 auto;}
    .p7-svg3{position:absolute;z-index:1;top:-40px;right:20px;max-width:400px;display: block;}
    .awards{margin-left: 50px;}
    .awards-inner{padding:7rem 0 0 2rem;}
    .facebook-video,.insta-video  {width: 260px;}
    .p1-svg{max-width:600px;margin-top:-80px;}
    .p2-svg{width: 360px;right:-20px;}
    .p7{margin-top:-100px;}
    .p9{
      background-size: auto;
      background-image: url('../img/p9-bg-xl.jpg');
      padding: 16rem 0 19rem 0;
    }
  }

  @media (min-width: 1500px){
    #computerOneVideo{left:56px;}
    #computerTwoVideo{top:86px;left:65px;}
    .lp-pagetitle{padding-top: 100px;}
    .container{width: 1300px; margin-left: auto; margin-right: auto;}
    .p4{padding: 3rem 0;}
    .p6-ani{text-align: right;}
    .p8{background-size: auto;}
    .p8-content {padding-left:52%; padding-right: 10%;}
    .and-or{ padding: 12.5% 1rem;}
    .p1-feature{overflow: visible;}
  }

  @media (min-width: 1700px){
    .p8-content {padding-right: 20%;}
  }

  @media (min-width: 1900px){
    .p9{background-image: url('../img/p9-bg.jpg');}
  }


#form fieldset{
  //box-shadow: 0px 0px 6px 6px rgba(0,0,0,.2);
  width:80%;
  max-width: 600px;
  margin:0 auto;
  background: #fbfbfb;
  padding: 1.5rem;
  border-radius: .3rem;
  border:1px solid $gray-200;
  position: relative;
}

.close-form{position: absolute;top:.25rem; right:.25rem;background: transparent;cursor: pointer;padding:.25rem;}

.lp-group{
  padding: 0 0 1.25rem 0;
  &:last-of-type{padding: 0 0 .2rem 0;}

  .label{
    display:block; color: #424646; font-weight: 400; background: $mint;line-height: 1.8rem;
    font-size: .8rem; padding: .25rem 0 .25rem .5rem; font-family: bilo, sans-serif; text-transform: uppercase;
    border-top-left-radius: 3px; border-bottom-left-radius: 3px;
  }

  input[type="text"], input[type="email"], input[type="tel"]{
    background: #FFF; border: 1px solid #dfdfdf; padding:10px 15px;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;
    width: calc(100% - 10px);font-size: .8rem; display: block; border-radius: 5rem;
    position: relative; z-index: 10;
    &:focus,&:active{
      outline:none; border: 1px solid $mint; background: lighten($mint,20%);
    }
  }
}


  /* Screen Reader Only <em> for a11y enhancement */
  .toggle-check span em[class^="tc-"] {
    position: absolute !important;
    height: 1px; width: 1px;
    border: 0; padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .toggle-check span em.tc-on {display: none;}
  .toggle-check label{cursor:pointer;display: inline-block; padding: .5rem;min-width: 200px;}
  .toggle-check input[type="checkbox"]{vertical-align: middle; margin-right:4rem; appearance:none; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none;}
  .toggle-check input[type="checkbox"] + span {position: relative; vertical-align: middle; line-height: normal; font-size:14px;}
  .toggle-check input[type="checkbox"]:checked + span em.tc-on {display: inline-block;}
  .toggle-check input[type="checkbox"]:checked + span em.tc-off {display: none;}
  .toggle-check input[type="checkbox"] + span:before {
    content: " "; text-align: center; width: 3.25rem; height: 1.5rem;
    background-color: #DFE6EB; border: 1px solid $slate;
    border-radius: 1rem; position: absolute; z-index: 1; top: -.2rem; left: -4rem;
    transition: background-color .3s;
  }
  .toggle-check input[type="checkbox"]:checked + span:before {border-color: darken($pink,10%); background-color: $pink;}
  .toggle-check input[type="checkbox"] + span:after {
    content: " "; text-align: center; width: 1.4rem; height: 1.3rem; background-color: #FFF;
    border-radius: 1rem; position: absolute; z-index: 10; top: -.13rem; left: -3.9rem;
    box-shadow: 3px 0px 2px #bbb; -moz-box-shadow:none; transition: left .3s;
  }
  .toggle-check input[type="checkbox"]:checked + span:after {
    left: -2.25rem; box-shadow: -3px 0px 2px darken($pink,10%);
  }

  /* Oversized */
  .toggle-check.oversized input[type="checkbox"] + span:before{
    height:1rem; top:1px; box-shadow:none; border:none;
  }
  .toggle-check.large.oversized input[type="checkbox"] + span:before{
    height:1.25rem; top:2px;
  }
  .toggle-check.oversized input[type="checkbox"] + span:after{
    background-color: $slate; box-shadow:none; border:none;
  }
  .toggle-check.oversized input[type="checkbox"]:checked + span:after{
    background-color: darken($pink,10%);
  }

  .toggle-check.secondary.oversized input[type="checkbox"]:checked + span:after{
    background-color: $slate;box-shadow:none; border:none;
  }

  .preloader{display: inline-block;padding: .75rem 0 0 .5rem;}
  .preloader svg{-webkit-animation:spin 4s linear infinite;-moz-animation:spin 4s linear infinite;animation:spin 4s linear infinite;}

  @media (min-width: 800px){
    .toggle-check label{min-width: 140px;}
  }

}
