.site-price-picker{

  .site-price-picker_row{
    fieldset{
      position: relative;
      margin-bottom: 3rem;
      &:before{
        position: absolute;
        top:55px;
        left:0;
        content: " ";
        height: 2px;
        width: 100%;
        background: $gray-100;
      }

      &.radios {
        label {
          text-transform: none;
          color: $gray-800;
          position: relative;
          float: left;
          width: 25%;
        }
        input[type="radio"] {
          position:absolute;
          font-size:1px;
          top:5px;
          left:1px;
          z-index:1;

          &:checked {
            + span {
              &:after {
                display:block;
              }
            }
          }

          &:disabled + span{
            color: $gray-300;
            &:before{
              background-color: lighten($red,20%);
              border:none;
            }
          }
        }
        span {
          position: relative;
          padding: 0 15px 0 35px;
          background: $white;
          cursor: pointer;
          font-weight: normal;
          &:hover {
            &:before {
              border-color: darken($input-border-color, 15%);
            }
          }
          &:before {
            content: "";
            color: #000;
            text-indent: -2px;
            width: 26px;
            height: 26px;
            background-color: $mint;
            border: 1px solid $input-border-color;
            border-radius: 50%;
            position: absolute;
            z-index: 9;
            top: -2px;
            left: 0px;
            font-size: 40px;
            line-height: 18px;
          }
          &:after {
            display:none;
            content: "";
            position: absolute;
            z-index: 91;
            background-color: rgba($gray-900,.7);
            width:10px;
            height:10px;
            border-radius:50%;
            top:6px;
            left:7px;
          }
        }
      }
    }
  }

}
